body{
    margin: 0;
    padding: 0;
}


#navbar{
    background-color: darkgray;   
    border: 3px solid black; 
}
.navbar-collapse{
    text-align: center;
}

div>h1{
    margin: 25px auto 25px;
}



.small-title{
    font-size: 25px;
    font-weight: 600;
}

#margins-container{
    background-color: darkgray;
    margin: 20px;
}

